app/config/config.ini.dev
cache/volt/*.php
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.project
.settings
.buildpath
*.komodoproject
*.sublime-project
*.sublime-workspace
.idea/
vendor/
demo/config/
demo/db/
demo/tests/
demo/var/
demo/vendor/
demo/.env*
demo/.ht*
/.env
wp/.tmb/
wp/tjc-content/
wp/wp-admin/
wp/wp-content/fonts/ 
wp/wp-content/languages/
wp/wp-content/plugins/
wp/wp-content/upgrade/
wp/wp-content/uploads/
wp/wp-content/wpvivid_staging/
wp/wp-content/wpvivid_uploads/
wp/wp-includes/
wp/hello*
wp/index*
wp/license*
wp/readme*
wp/wp-config*
wp/xml* 
