app/config/config.ini.dev
cache/volt/*.php
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.project
.settings
.buildpath
*.komodoproject
*.sublime-project
*.sublime-workspace
.idea/
vendor/
db/
demo/
docs/
framework/
public/
src/
tests/
themes/
var/
/.env
wp/ 
wpc/ 
bella/
dev1/app/config/config.php
dev2/app/config/config.php
dev3/app/config/config.php

