app/config/config.ini.dev
cache/volt/*.php
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.project
.settings
.buildpath
*.komodoproject
*.sublime-project
*.sublime-workspace
.idea/
db/
demo/
docs/
framework/
src/
tests/
themes/
var/
vendor/
/.env
wp/
wpc/ 
bella/
dev/app/config/config.php
